<a href="https://colab.research.google.com/github/WadekarPrashant/Data_Set_Analysis/blob/main/DEC_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('popular_10000_movies_tmdb.csv')

In [ ]:
# Getting the size
data.size

140000

In [ ]:
# Getting the shape rows x columns
data.shape

(10000, 14)

In [ ]:
# Getting the head(20) top 20 rows
data.head(40)

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
0,758323,The Pope's Exorcist,2023-04-05,"['Horror', 'Mystery', 'Thriller']",English,7.4,619,5089.969,"Father Gabriele Amorth, Chief Exorcist of the ...",18000000,"['Screen Gems', '2.0 Entertainment', 'Jesus & ...",65675816,103,Inspired by the actual files of Father Gabriel...
1,640146,Ant-Man and the Wasp: Quantumania,2023-02-15,"['Action', 'Adventure', 'Science Fiction']",English,6.6,2294,4665.438,Super-Hero partners Scott Lang and Hope van Dy...,200000000,"['Marvel Studios', 'Kevin Feige Productions']",464566092,125,Witness the beginning of a new dynasty.
2,502356,The Super Mario Bros. Movie,2023-04-05,"['Animation', 'Adventure', 'Family', 'Fantasy'...",English,7.5,1861,3935.550,"While working underground to fix a water main,...",100000000,"['Universal Pictures', 'Illumination', 'Ninten...",1121048165,92,NaN
3,868759,Ghosted,2023-04-18,"['Action', 'Comedy', 'Romance']",English,7.2,652,2791.532,Salt-of-the-earth Cole falls head over heels f...,0,"['Skydance Media', 'Apple Studios']",0,120,Finding that special someone can be a real adv...
4,594767,Shazam! Fury of the Gods,2023-03-15,"['Action', 'Comedy', 'Fantasy', 'Adventure']",English,6.8,1510,2702.593,"Billy Batson and his foster siblings, who tran...",125000000,"['New Line Cinema', 'The Safran Company', 'DC ...",133437105,130,Oh. My. Gods.
5,76600,Avatar: The Way of Water,2022-12-14,"['Science Fiction', 'Adventure', 'Action']",English,7.7,7853,2280.912,Set more than a decade after the events of the...,460000000,"['20th Century Studios', 'Lightstorm Entertain...",2319331580,192,Return to Pandora.
6,447365,Guardians of the Galaxy Volume 3,2023-05-03,"['Science Fiction', 'Adventure', 'Action']",English,8.3,683,2520.308,"Peter Quill, still reeling from the loss of Ga...",250000000,"['Marvel Studios', 'Kevin Feige Productions']",289312702,150,Once more with feeling.
7,934433,Scream VI,2023-03-08,"['Horror', 'Mystery', 'Thriller']",English,7.3,1029,1862.283,"Following the latest Ghostface killings, the f...",35000000,"['Radio Silence', 'Project X Entertainment', '...",168541093,123,New York. New rules.
8,677179,Creed III,2023-03-01,"['Drama', 'Action']",English,7.3,1298,1894.044,"After dominating the boxing world, Adonis Cree...",75000000,"['Metro-Goldwyn-Mayer', 'Proximity Media', 'Ba...",269000000,116,You can't run from your past.
9,493529,Dungeons & Dragons: Honor Among Thieves,2023-03-23,"['Adventure', 'Fantasy', 'Comedy']",English,7.5,964,1655.052,A charming thief and a band of unlikely advent...,151000000,"['Entertainment One', 'Paramount', 'Allspark P...",202484920,134,No experience necessary.
10,948713,The Last Kingdom: Seven Kings Must Die,2023-04-14,"['Action', 'Adventure', 'History', 'Drama', 'W...",English,7.3,317,1436.725,"In the wake of King Edward's death, Uhtred of ...",0,['Carnival Films'],0,111,NaN
11,420808,Peter Pan & Wendy,2023-04-20,"['Family', 'Fantasy', 'Action', 'Adventure']",English,5.9,277,1358.468,"Wendy Darling, a young girl afraid to leave he...",0,"['Walt Disney Pictures', 'Whitaker Entertainme...",0,106,Escape to Neverland
12,603692,John Wick: Chapter 4,2023-03-22,"['Action', 'Thriller', 'Crime']",English,7.9,1340,1170.178,"With the price on his head ever increasing, Jo...",90000000,"['Thunder Road', '87Eleven', 'Summit Entertain...",406056266,170,No way back. One way out.
13,713704,Evil Dead Rise,2023-04-12,['Horror'],English,7.0,399,1107.559,Two sisters find an ancient vinyl that gives b...,15000000,"['New Line Cinema', 'Ghost House Pictures', 'R...",92071490,96,Mommy loves you to death.
14,804150,Cocaine Bear,2023-02-22,"['Thriller', 'Comedy', 'Crime']",English,6.4,976,801.263,"Inspired by a true story, an oddball group of ...",32500000,"['Universal Pictures', 'Brownstone Productions...",89020092,96,Get in line.
15,315162,Puss in Boots: The Last Wish,2022-12-07,"['Animation', 'Family', 'Fantasy', 'Adventure'...",English,8.3,5453,1025.915,Puss in Boots discovers that his passion for a...,90000000,"['DreamWorks Animation', 'Universal Pictures']",480000000,103,Say hola to his little friends.
16,638974,Murder Mystery 2,2023-03-28,"['Comedy', 'Crime']",English,6.6,978,995.199,"After starting their own detective agency, Nic...",0,"['Happy Madison Productions', 'Echo Films', 'V...",0,91,This mystery is deux or die.
17,1102776,AKA,2023-04-28,"['Thriller', 'Action', 'Crime']",French,7.0,150,1383.661,A steely special ops agent finds his morality ...,0,"['Inoxy Films', 'Nolita']",0,122,NaN
18,946310,Pirates Down the Street II: The Ninjas from Ac...,2022-04-20,"['Family', 'Action', 'Adventure']",Dutch,7.0,52,734.011,"The pirates feel right at home in Sandborough,...",0,"['Johan Nijenhuis & Co (NL)', 'EO - EO (NL)']",0,89,NaN
19,1008005,The Communion Girl,2023-02-10,['Horror'],Spanish,6.2,85,676.862,"Spain, late 1980s. Newcomer Sara tries to fit ...",0,"['Ikiru Films', 'Atresmedia', 'Warner Bros. En...",0,103,NaN
20,700391,65,2023-03-02,"['Science Fiction', 'Adventure', 'Thriller']",English,6.3,958,717.792,"65 million years ago, the only 2 survivors of ...",45000000,"['Raimi Productions', 'Beck/Woods', 'Bron Stud...",55000000,93,"65 million years ago, prehistoric Earth had a ..."
21,1048300,Adrenaline,2022-12-15,['Action'],English,5.9,39,717.878,A female FBI agent holidaying in Eastern Europ...,0,[],0,75,NaN
22,997776,Justice League x RWBY: Super Heroes & Huntsmen...,2023-04-25,"['Animation', 'Action', 'Fantasy']",English,8.0,44,616.014,"Superman, Batman, Wonder Woman, Flash, Cyborg,...",0,"['Warner Bros. Animation', 'Rooster Teeth Prod...",0,83,NaN
23,385687,Fast X,2023-05-17,"['Action', 'Crime', 'Thriller']",English,0.0,0,732.647,Over many missions and against impossible odds...,340000000,"['Universal Pictures', 'Original Film', 'One R...",0,142,The end of the road begins.
24,505642,Black Panther: Wakanda Forever,2022-11-09,"['Action', 'Adventure', 'Science Fiction']",English,7.3,4741,620.645,"Queen Ramonda, Shuri, M’Baku, Okoye and the Do...",250000000,['Marvel Studios'],859102154,162,Forever.
25,816904,Mummies,2023-01-05,"['Animation', 'Comedy', 'Family', 'Adventure',...",Spanish,7.2,257,544.413,"Through a series of unfortunate events, three ...",12300000,"['Warner Bros. Entertainment España', '4 Cats ...",34200000,88,Discover a new world.
26,849869,Kill Boksoon,2023-02-17,"['Action', 'Crime', 'Thriller']",Korean,6.9,221,592.130,"At work, she's a renowned assassin. At home, s...",0,['See At Film'],0,137,A life of lies can kill.
27,994128,The Elderly,2023-04-21,"['Horror', 'Thriller', 'Fantasy']",Spanish,5.8,6,521.201,An octogenarian named Manuel falls into a stat...,0,[],0,95,Now it's too late
28,1105014,Ripper's Revenge,2023-04-03,['Horror'],English,4.9,10,523.118,"One year on from the notorious Ripper murders,...",0,[],0,85,He hunts again.
29,980078,Winnie the Pooh: Blood and Honey,2023-01-27,"['Horror', 'Thriller']",English,5.7,562,492.522,Christopher Robin is headed off to college and...,100000,"['Jagged Edge Productions', 'ITN Studios']",3200000,84,This ain't no bedtime story.
30,1033219,Attack on Titan,2022-09-30,"['Action', 'Science Fiction']",English,6.0,125,525.410,"As viable water is depleted on Earth, a missio...",0,"['The Asylum', 'Emerald City Films']",0,93,The battle for Earth has begun.
31,736790,Chupa,2023-04-07,"['Adventure', 'Fantasy', 'Family']",English,6.5,209,514.547,"While visiting family in Mexico, a lonely boy ...",0,"['26th Street Pictures', 'Pimienta Films']",0,98,Discover the legend.
32,842945,Supercell,2023-03-17,['Action'],English,6.3,142,510.509,Good-hearted teenager William always lived in ...,0,"['Thomasville Pictures', 'Highland Film Group'...",0,100,The chase is on.
33,436270,Black Adam,2022-10-19,"['Action', 'Adventure', 'Science Fiction', 'Fa...",English,7.1,4848,538.447,"Nearly 5,000 years after he was bestowed with ...",200000000,"['New Line Cinema', 'Flynn Picture Company', '...",393252111,124,The world needed a hero. It got Black Adam.
34,536554,M3GAN,2022-12-28,"['Science Fiction', 'Horror', 'Comedy']",English,7.4,2543,471.872,A brilliant toy company roboticist uses artifi...,12000000,"['Atomic Monster', 'Blumhouse Productions', 'D...",176830912,102,Friendship has evolved.
35,296271,The Devil Conspiracy,2023-01-13,"['Horror', 'Fantasy', 'Science Fiction', 'Thri...",English,6.2,145,438.805,The hottest biotech company in the world has d...,0,"['Czech Anglo Productions', 'Third Day Product...",0,111,The war of angels has come to earth.
36,1104040,Gangs of Lagos,2023-04-07,['Crime'],English,6.1,35,462.815,A group of friends who each have to navigate t...,160000000,[],0,124,NaN
37,283995,Guardians of the Galaxy Vol. 2,2017-04-19,"['Adventure', 'Action', 'Science Fiction']",English,7.6,19599,492.950,The Guardians must fight to keep their newfoun...,200000000,['Marvel Studios'],863756051,137,Obviously.
38,1084225,The Park,2023-03-02,"['Action', 'Drama', 'Horror', 'Science Fiction...",English,6.0,41,433.291,A dystopian coming-of-age movie focused on thr...,0,['Vanishing Angle'],0,80,NaN
39,869626,Marcel the Shell with Shoes On,2022-06-24,"['Animation', 'Comedy', 'Family', 'Drama', 'Ad...",English,7.8,258,394.349,Marcel is an adorable one-inch-tall shell who ...,0,"['Cinereach', 'Strongman', 'Chiodo Bros. Produ...",6000000,90,Everybody loves Marcel.

In [ ]:
# Getting the tail(10) bottom 10 rows
data.tail(10)

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
9990,10748,St. Trinian's,2007-12-21,"['Comedy', 'Family', 'Science Fiction']",English,5.9,418,7.770,When their beloved school is threatened with c...,0,"['Ealing Studios', 'Fragile Films', 'Entertain...",29066681,101,Taking higher education to a new low.
9991,917269,The Witcher Season One Recap: From the Beginning,2021-12-17,[],English,5.6,8,9.045,From Yennefer's magical origins to Geralt's fi...,0,[],0,15,NaN
9992,914216,The Lost King,2022-10-07,"['Drama', 'Comedy']",English,6.5,51,11.138,An amateur historian defies the academic estab...,0,"['Baby Cow Productions', 'BBC Film', 'Ingeniou...",0,108,Her story made history.
9993,823461,Good on Paper,2021-06-23,"['Comedy', 'Romance']",English,5.6,265,8.544,After years of putting her career ahead of lov...,0,"['Burn Later Productions', 'Meridian Content',...",0,92,"If he checks all your boxes, check again."
9994,94503,Tsubasa RESERVoir CHRoNiCLE: Tokyo Revelations,2007-11-16,"['Fantasy', 'Animation', 'Action', 'Adventure'...",Japanese,7.2,6,7.949,Continuing their journey from Record Country (...,0,['Kodansha'],0,75,NaN
9995,374473,"I, Daniel Blake",2016-10-21,['Drama'],English,7.7,1220,10.774,"A middle aged carpenter, who requires state we...",0,"['Why Not Productions', 'Wild Bunch', 'Sixteen...",15793051,100,NaN
9996,16774,Hellboy Animated: Sword of Storms,2006-10-28,"['TV Movie', 'Fantasy', 'Animation', 'Action',...",English,6.3,99,12.739,A folklore professor becomes unwittingly posse...,0,"['IDT Entertainment', 'Film Roman']",0,73,NaN
9997,13564,Return to House on Haunted Hill,2007-10-03,"['Horror', 'Thriller']",English,5.6,263,12.769,Eight years have passed since Sara Wolfe and E...,0,"['Dark Castle Entertainment', 'Warner Premiere']",0,81,NaN
9998,482204,My Sister-in-law's Job,2017-08-31,"['Drama', 'Romance']",Korean,5.0,5,10.425,An erotic film that depicts the dangerous rela...,0,[],0,89,NaN
9999,444539,The Bookshop,2017-11-10,['Drama'],English,6.5,382,12.525,"Set in a small English town in 1959, a woman d...",5400000,"['Zephyr Films', 'A Contracorriente Films', 'D...",12055868,110,A town that lacks a bookshop isn't always a to...

In [ ]:
# sorting the values by id
data.sort_values(by=['id'])

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
5851,5,Four Rooms,1995-12-09,"['Crime', 'Comedy']",English,5.8,2357,18.734,It's Ted the Bellhop's first night on the job....,4000000,"['Miramax', 'A Band Apart']",4257354,98,Twelve outrageous guests. Four scandalous requ...
351,11,Star Wars,1977-05-25,"['Adventure', 'Action', 'Science Fiction']",English,8.2,18580,90.988,Princess Leia is captured and held hostage by ...,11000000,"['Lucasfilm Ltd.', '20th Century Fox']",775398007,121,"A long time ago in a galaxy far, far away..."
513,12,Finding Nemo,2003-05-30,"['Animation', 'Family']",English,7.8,17623,68.898,"Nemo, an adventurous young clownfish, is unexp...",94000000,['Pixar'],940335536,100,There are 3.7 trillion fish in the ocean. They...
884,13,Forrest Gump,1994-06-23,"['Comedy', 'Drama', 'Romance']",English,8.5,24587,52.321,A man with a low IQ has accomplished great thi...,55000000,"['Paramount', 'The Steve Tisch Company', 'Wend...",677387716,142,The world will never be the same once you've s...
2985,14,American Beauty,1999-09-15,['Drama'],English,8.0,10958,26.384,"Lester Burnham, a depressed suburban father in...",15000000,"['Jinks/Cohen Company', 'DreamWorks Pictures']",356296601,122,Look closer.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5967,1119471,Vamoose,2023-05-09,['Drama'],English,0.0,0,22.893,"Raymond Dela Cruz leads a busy life, but after...",0,['Llanillo Pictures'],0,4,A short film
4190,1119600,How Not to Win Eurovision,2023-05-08,[],English,0.0,0,23.635,As Scotland doesn't have a Eurovision entry of...,0,[],0,28,NaN
6410,1119744,Fall Guy,2023-05-12,['Drama'],Tagalog,0.0,0,21.897,Director: Joel Lamangan\r Cast: Sean De Guzman...,0,['Vivamax'],0,0,NaN
7033,1119787,Issac Ender’s,2023-05-10,"['Horror', 'Thriller', 'Comedy']",English,0.0,0,20.614,"In a small town full of instagram users, users...",100,"['pretty little ortegas', 'welcometoact3']",90,90,NaN
9922,1119921,Mental Finger,2023-05-06,"['Comedy', 'Action']",Sundanese,0.0,0,9.660,"In a badminton game, Sofia wants to beat her f...",0,['Cinemora Pictures'],0,12,NaN

In [ ]:
# Getting the summary
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10000 non-null  int64
 1   title                 10000 non-null  object
 2   release_date          9979 non-null   object
 3   genres                10000 non-null  object
 4   original_language     10000 non-null  object
 5   vote_average          10000 non-null  float64
 6   vote_count            10000 non-null  int64
 7   popularity            10000 non-null  float64
 8   overview              9923 non-null   object
 9   budget                10000 non-null  int64
 10  production_companies  10000 non-null  object
 11  revenue               10000 non-null  int64
 12  runtime               10000 non-null  int64
 13  tagline               7241 non-null   object
dtypes: float64(2), int64(5), object(7)
memory usage: 1.1+ MB

In [ ]:
# Gets the row labels
data.index

RangeIndex(start=0, stop=10000, step=1)

In [ ]:
# Describing the data
data.describe

<bound method NDFrame.describe of           id                              title release_date  \
0     758323                The Pope's Exorcist   2023-04-05
1     640146  Ant-Man and the Wasp: Quantumania   2023-02-15
2     502356        The Super Mario Bros. Movie   2023-04-05
3     868759                            Ghosted   2023-04-18
4     594767           Shazam! Fury of the Gods   2023-03-15
...      ...                                ...          ...
9995  374473                    I, Daniel Blake   2016-10-21
9996   16774  Hellboy Animated: Sword of Storms   2006-10-28
9997   13564    Return to House on Haunted Hill   2007-10-03
9998  482204             My Sister-in-law's Job   2017-08-31
9999  444539                       The Bookshop   2017-11-10

                                                 genres original_language  \
0                     ['Horror', 'Mystery', 'Thriller']           English
1            ['Action', 'Adventure', 'Science Fiction']           English
2     ['Animation', 'Adventure', 'Family', 'Fantasy'...           English
3                       ['Action', 'Comedy', 'Romance']           English
4          ['Action', 'Comedy', 'Fantasy', 'Adventure']           English
...                                                 ...               ...
9995                                          ['Drama']           English
9996  ['TV Movie', 'Fantasy', 'Animation', 'Action',...           English
9997                             ['Horror', 'Thriller']           English
9998                               ['Drama', 'Romance']            Korean
9999                                          ['Drama']           English

      vote_average  vote_count  popularity  \
0              7.4         619    5089.969
1              6.6        2294    4665.438
2              7.5        1861    3935.550
3              7.2         652    2791.532
4              6.8        1510    2702.593
...            ...         ...         ...
9995           7.7        1220      10.774
9996           6.3          99      12.739
9997           5.6         263      12.769
9998           5.0           5      10.425
9999           6.5         382      12.525

                                               overview     budget  \
0     Father Gabriele Amorth, Chief Exorcist of the ...   18000000
1     Super-Hero partners Scott Lang and Hope van Dy...  200000000
2     While working underground to fix a water main,...  100000000
3     Salt-of-the-earth Cole falls head over heels f...          0
4     Billy Batson and his foster siblings, who tran...  125000000
...                                                 ...        ...
9995  A middle aged carpenter, who requires state we...          0
9996  A folklore professor becomes unwittingly posse...          0
9997  Eight years have passed since Sara Wolfe and E...          0
9998  An erotic film that depicts the dangerous rela...          0
9999  Set in a small English town in 1959, a woman d...    5400000

                                   production_companies     revenue  runtime  \
0     ['Screen Gems', '2.0 Entertainment', 'Jesus & ...    65675816      103
1         ['Marvel Studios', 'Kevin Feige Productions']   464566092      125
2     ['Universal Pictures', 'Illumination', 'Ninten...  1121048165       92
3                   ['Skydance Media', 'Apple Studios']           0      120
4     ['New Line Cinema', 'The Safran Company', 'DC ...   133437105      130
...                                                 ...         ...      ...
9995  ['Why Not Productions', 'Wild Bunch', 'Sixteen...    15793051      100
9996                ['IDT Entertainment', 'Film Roman']           0       73
9997   ['Dark Castle Entertainment', 'Warner Premiere']           0       81
9998                                                 []           0       89
9999  ['Zephyr Films', 'A Contracorriente Films', 'D...    12055868      110

                                                tagline
0     Inspired by the actual files of Father Gabriel...
1               Witness the beginning of a new dynasty.
2                                                   NaN
3     Finding that special someone can be a real adv...
4                                         Oh. My. Gods.
...                                                 ...
9995                                                NaN
9996                                                NaN
9997                                                NaN
9998                                                NaN
9999  A town that lacks a bookshop isn't always a to...

[10000 rows x 14 columns]>

In [ ]:
# Getting the null values
data.dropna()

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
0,758323,The Pope's Exorcist,2023-04-05,"['Horror', 'Mystery', 'Thriller']",English,7.4,619,5089.969,"Father Gabriele Amorth, Chief Exorcist of the ...",18000000,"['Screen Gems', '2.0 Entertainment', 'Jesus & ...",65675816,103,Inspired by the actual files of Father Gabriel...
1,640146,Ant-Man and the Wasp: Quantumania,2023-02-15,"['Action', 'Adventure', 'Science Fiction']",English,6.6,2294,4665.438,Super-Hero partners Scott Lang and Hope van Dy...,200000000,"['Marvel Studios', 'Kevin Feige Productions']",464566092,125,Witness the beginning of a new dynasty.
3,868759,Ghosted,2023-04-18,"['Action', 'Comedy', 'Romance']",English,7.2,652,2791.532,Salt-of-the-earth Cole falls head over heels f...,0,"['Skydance Media', 'Apple Studios']",0,120,Finding that special someone can be a real adv...
4,594767,Shazam! Fury of the Gods,2023-03-15,"['Action', 'Comedy', 'Fantasy', 'Adventure']",English,6.8,1510,2702.593,"Billy Batson and his foster siblings, who tran...",125000000,"['New Line Cinema', 'The Safran Company', 'DC ...",133437105,130,Oh. My. Gods.
5,76600,Avatar: The Way of Water,2022-12-14,"['Science Fiction', 'Adventure', 'Action']",English,7.7,7853,2280.912,Set more than a decade after the events of the...,460000000,"['20th Century Studios', 'Lightstorm Entertain...",2319331580,192,Return to Pandora.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,21500,Class,1983-07-22,"['Comedy', 'Drama']",English,5.9,143,10.268,Naive Midwestern prep student Jonathan bonds w...,7000000,['Orion Pictures'],21600000,98,"The good news is, Jonathan's having his first ..."
9990,10748,St. Trinian's,2007-12-21,"['Comedy', 'Family', 'Science Fiction']",English,5.9,418,7.770,When their beloved school is threatened with c...,0,"['Ealing Studios', 'Fragile Films', 'Entertain...",29066681,101,Taking higher education to a new low.
9992,914216,The Lost King,2022-10-07,"['Drama', 'Comedy']",English,6.5,51,11.138,An amateur historian defies the academic estab...,0,"['Baby Cow Productions', 'BBC Film', 'Ingeniou...",0,108,Her story made history.
9993,823461,Good on Paper,2021-06-23,"['Comedy', 'Romance']",English,5.6,265,8.544,After years of putting her career ahead of lov...,0,"['Burn Later Productions', 'Meridian Content',...",0,92,"If he checks all your boxes, check again."
9999,444539,The Bookshop,2017-11-10,['Drama'],English,6.5,382,12.525,"Set in a small English town in 1959, a woman d...",5400000,"['Zephyr Films', 'A Contracorriente Films', 'D...",12055868,110,A town that lacks a bookshop isn't always a to...

In [ ]:
# Replacing the null values with 0
data.fillna(0)

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
0,758323,The Pope's Exorcist,2023-04-05,"['Horror', 'Mystery', 'Thriller']",English,7.4,619,5089.969,"Father Gabriele Amorth, Chief Exorcist of the ...",18000000,"['Screen Gems', '2.0 Entertainment', 'Jesus & ...",65675816,103,Inspired by the actual files of Father Gabriel...
1,640146,Ant-Man and the Wasp: Quantumania,2023-02-15,"['Action', 'Adventure', 'Science Fiction']",English,6.6,2294,4665.438,Super-Hero partners Scott Lang and Hope van Dy...,200000000,"['Marvel Studios', 'Kevin Feige Productions']",464566092,125,Witness the beginning of a new dynasty.
2,502356,The Super Mario Bros. Movie,2023-04-05,"['Animation', 'Adventure', 'Family', 'Fantasy'...",English,7.5,1861,3935.550,"While working underground to fix a water main,...",100000000,"['Universal Pictures', 'Illumination', 'Ninten...",1121048165,92,0
3,868759,Ghosted,2023-04-18,"['Action', 'Comedy', 'Romance']",English,7.2,652,2791.532,Salt-of-the-earth Cole falls head over heels f...,0,"['Skydance Media', 'Apple Studios']",0,120,Finding that special someone can be a real adv...
4,594767,Shazam! Fury of the Gods,2023-03-15,"['Action', 'Comedy', 'Fantasy', 'Adventure']",English,6.8,1510,2702.593,"Billy Batson and his foster siblings, who tran...",125000000,"['New Line Cinema', 'The Safran Company', 'DC ...",133437105,130,Oh. My. Gods.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,374473,"I, Daniel Blake",2016-10-21,['Drama'],English,7.7,1220,10.774,"A middle aged carpenter, who requires state we...",0,"['Why Not Productions', 'Wild Bunch', 'Sixteen...",15793051,100,0
9996,16774,Hellboy Animated: Sword of Storms,2006-10-28,"['TV Movie', 'Fantasy', 'Animation', 'Action',...",English,6.3,99,12.739,A folklore professor becomes unwittingly posse...,0,"['IDT Entertainment', 'Film Roman']",0,73,0
9997,13564,Return to House on Haunted Hill,2007-10-03,"['Horror', 'Thriller']",English,5.6,263,12.769,Eight years have passed since Sara Wolfe and E...,0,"['Dark Castle Entertainment', 'Warner Premiere']",0,81,0
9998,482204,My Sister-in-law's Job,2017-08-31,"['Drama', 'Romance']",Korean,5.0,5,10.425,An erotic film that depicts the dangerous rela...,0,[],0,89,0
9999,444539,The Bookshop,2017-11-10,['Drama'],English,6.5,382,12.525,"Set in a small English town in 1959, a woman d...",5400000,"['Zephyr Films', 'A Contracorriente Films', 'D...",12055868,110,A town that lacks a bookshop isn't always a to...

In [ ]:
# Getting the mean values
# Adding mean values in place of null values
mean_values = data.mean()
data_filled=data.fillna(mean_values)
print(data_filled)

          id                              title release_date  \
0     758323                The Pope's Exorcist   2023-04-05
1     640146  Ant-Man and the Wasp: Quantumania   2023-02-15
2     502356        The Super Mario Bros. Movie   2023-04-05
3     868759                            Ghosted   2023-04-18
4     594767           Shazam! Fury of the Gods   2023-03-15
...      ...                                ...          ...
9995  374473                    I, Daniel Blake   2016-10-21
9996   16774  Hellboy Animated: Sword of Storms   2006-10-28
9997   13564    Return to House on Haunted Hill   2007-10-03
9998  482204             My Sister-in-law's Job   2017-08-31
9999  444539                       The Bookshop   2017-11-10

                                                 genres original_language  \
0                     ['Horror', 'Mystery', 'Thriller']           English
1            ['Action', 'Adventure', 'Science Fiction']           English
2     ['Animation', 'Adventure', 'Family', 'Fantasy'...           English
3                       ['Action', 'Comedy', 'Romance']           English
4          ['Action', 'Comedy', 'Fantasy', 'Adventure']           English
...                                                 ...               ...
9995                                          ['Drama']           English
9996  ['TV Movie', 'Fantasy', 'Animation', 'Action',...           English
9997                             ['Horror', 'Thriller']           English
9998                               ['Drama', 'Romance']            Korean
9999                                          ['Drama']           English

      vote_average  vote_count  popularity  \
0              7.4         619    5089.969
1              6.6        2294    4665.438
2              7.5        1861    3935.550
3              7.2         652    2791.532
4              6.8        1510    2702.593
...            ...         ...         ...
9995           7.7        1220      10.774
9996           6.3          99      12.739
9997           5.6         263      12.769
9998           5.0           5      10.425
9999           6.5         382      12.525

                                               overview     budget  \
0     Father Gabriele Amorth, Chief Exorcist of the ...   18000000
1     Super-Hero partners Scott Lang and Hope van Dy...  200000000
2     While working underground to fix a water main,...  100000000
3     Salt-of-the-earth Cole falls head over heels f...          0
4     Billy Batson and his foster siblings, who tran...  125000000
...                                                 ...        ...
9995  A middle aged carpenter, who requires state we...          0
9996  A folklore professor becomes unwittingly posse...          0
9997  Eight years have passed since Sara Wolfe and E...          0
9998  An erotic film that depicts the dangerous rela...          0
9999  Set in a small English town in 1959, a woman d...    5400000

                                   production_companies     revenue  runtime  \
0     ['Screen Gems', '2.0 Entertainment', 'Jesus & ...    65675816      103
1         ['Marvel Studios', 'Kevin Feige Productions']   464566092      125
2     ['Universal Pictures', 'Illumination', 'Ninten...  1121048165       92
3                   ['Skydance Media', 'Apple Studios']           0      120
4     ['New Line Cinema', 'The Safran Company', 'DC ...   133437105      130
...                                                 ...         ...      ...
9995  ['Why Not Productions', 'Wild Bunch', 'Sixteen...    15793051      100
9996                ['IDT Entertainment', 'Film Roman']           0       73
9997   ['Dark Castle Entertainment', 'Warner Premiere']           0       81
9998                                                 []           0       89
9999  ['Zephyr Films', 'A Contracorriente Films', 'D...    12055868      110

                                                tagline
0     Inspired by the actual files of Father Gabriel...
1               Witness the beginning of a new dynasty.
2                                                   NaN
3     Finding that special someone can be a real adv...
4                                         Oh. My. Gods.
...                                                 ...
9995                                                NaN
9996                                                NaN
9997                                                NaN
9998                                                NaN
9999  A town that lacks a bookshop isn't always a to...

[10000 rows x 14 columns]

<ipython-input-37-a89b35ff9e64>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean_values = data.mean()

In [ ]:
# maximum data it can occupy
data.memory_usage()

Index                     128
id                      80000
title                   80000
release_date            80000
genres                  80000
original_language       80000
vote_average            80000
vote_count              80000
popularity              80000
overview                80000
budget                  80000
production_companies    80000
revenue                 80000
runtime                 80000
tagline                 80000
dtype: int64

In [ ]:
data.memory_usage(index= True)

Index                     128
id                      80000
title                   80000
release_date            80000
genres                  80000
original_language       80000
vote_average            80000
vote_count              80000
popularity              80000
overview                80000
budget                  80000
production_companies    80000
revenue                 80000
runtime                 80000
tagline                 80000
dtype: int64